body{
    background-color: black;
    color: rgb(238, 238, 238);
}

/* Container that holds both cars */
.cars-container {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Ensures space between the elements */
    align-items: center; /* Vertically center-aligns the items */
    margin: 300px;
  }
  
  /* Styling for the individual car images */
  .car img, .car-container img {
    width: 500px; /* Adjust the image size */
    height: auto;
  }
  
  /* Styling for the text next to the second car image */
  .car-container h3 {
    font-size: 24px;
    color: #ff0000;
    margin-left: 20px; /* Adds space between the image and the text */
  }


  btn {
    background-color: rgb(255, 252, 252);
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Removes underline */
    border-radius: 5px;
    margin-top: 20px;
  }

  .btn:hover {
    background-color: #cc0000; /* Changes color on hover */
  }
 